<?xml version="1.0"?>
<launch>

    <!-- State Machine (your node) -->
    <node pkg="state_machine_pkg" type="state_machine_node" name="state_machine_node" output="screen" />

    <include file="$(find simulation)/launch/simulation.launch" />

    <!-- Controller (You) -->
    <!-- <include file="$(find controller_pkg)/launch/controller.launch"/> -->

    <!-- Perception Pipeline (Akhil) -->
    <include file="$(find perception_pipeline)/launch/depth_to_pointcloud.launch"/>
    <include file="$(find perception_pipeline)/launch/pointcloud_to_octomap.launch"/>

    <!-- Path Planning (Pablo) -->
    < <include file="$(find path_planning_pkg)/launch/cave_exploration.launch"/> >

    <!-- Navigation and trajectory (Ahmed) -->
    <include file="$(find navigation_pkg)/launch/navigation.launch"/>

</launch>
